
<app-navbar></app-navbar>

<section class="about">
    <div class="main">
      <img src="../../assets/Montage photo de voyage d'été (1).png" alt="">
      <div class="all-text">
        <h4>About US</h4>
        <h1>Spirit of creativity </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
      <div class="btn">
        <button type="button">Our team</button>
        <button type="button" class="btn2">Learn more</button>

      </div>
    </div>
    </div>
  </section>