<nav>
    <ul class="menu">
      <a routerLink="home" class="logo">Eas4trainee <span>.</span></a>
        <li class="item"><a class="aa" routerLink="">Home</a></li>
        <li class="item"><a class="aa" routerLink="about">About</a></li>
        <li class="item"><a class="aa" routerLink="discover">Discover</a></li>
        <li class="item"><a class="aa" routerLink="help">help</a></li>
        <li class="item"><a class="aa" routerLink="contact">Contact</a></li>
       
        <li class="item button"><a routerLink="login">Sign Up</a></li>
        <li class="item button secondary"><a routerLink="loginnn">Log In</a></li>
        <li class="toggle"><span class="bars"></span></li>
    </ul>
  </nav>
  
