<section class="home-section">
    <div class="home-content">
      <div class="home-content">
        <i class='bx bx-menu' ></i>
        <span class="text">Home Page</span>
  
      </div>
   
    <div class="header-menu">
      <label for="">
        <span class='bx bx-search-alt-2'></span>
      </label>
      <div class="notify-icon" onclick="toggleNotifi()">
        <span class="bx bx-message-dots" onclick="toggleNotifi()"></span>
        <span class="notify">4</span>

      </div>
      <div class="notify-icon">
        <span class="bx bx-bell"></span>
        <span class="notify">3</span>

      </div>

    </div>
  </div>
  <div class="notifi-box" id="box">
    <h2>Notifications <span>17</span></h2>
    <div class="notifi-item">
      <img src="../../assets/user photo.jpg" alt="img">
      <div class="text">
         <h4>Elias Abdurrahman</h4>
         <p>@lorem ipsum dolor sit amet</p>
        </div> 
    </div>

    <div class="notifi-item">
      <img src="../../assets/user photo.jpg" alt="img">
      <div class="text">
         <h4>John Doe</h4>
         <p>@lorem ipsum dolor sit amet</p>
        </div> 
    </div>

    <div class="notifi-item">
      <img src="../../assets/user photo.jpg" alt="img">
      <div class="text">
         <h4>Emad Ali</h4>
         <p>@lorem ipsum dolor sit amet</p>
        </div> 
    </div>

    <div class="notifi-item">
      <img src="../../assets/user photo.jpg" alt="img">
      <div class="text">
         <h4>Ekram Abu </h4>
         <p>@lorem ipsum dolor sit amet</p>
        </div> 
    </div>

    <div class="notifi-item">
      <img src="../../assets/user photo.jpg" alt="img">
      <div class="text">
         <h4>Jane Doe</h4>
         <p>@lorem ipsum dolor sit amet</p>
        </div> 
    </div>

  </div>
  </section>
  
