
 
 <!-- <iframe src="https://my.spline.design/3dtextbluecopy-04c662e2f2b97a2d31f55e62437fe3b1/" frameborder="0" width="80%" height="80%"></iframe>-->
<!--
 <div class="container1">
    <div class="box">
    <div class="static-txt">Hello </div>
    <ul class="dynamic-txts">
        <li><span>STUDENT </span></li>
        <li><span>COMPANY</span></li>
    </ul>
    
        

</div>

<div class="box2">
    <h2>Welcome to the world of Internships</h2> 
    <h3> Here you can find all preferred fields of study  </h3>
    
    <div class="text"><h4>For more details : </h4></div>
    <div class="btnn">
        <a routerLink="discover" class="aa btn btn-lg btn-light"> Discover Offers</a> &nbsp;</div>
        <div class="btnn2">
            <a routerLink="login" class="btn btn-lg btn-primary"> Join us</a>
        </div>
    
    
    </div>

</div>-->
<!--
<section>
<div class="box">
 <h2>222</h2>
  
</div>
</section>-->

<div class="banner">
 
  <div class="slider">
    <img src="../../assets/pic3.png" class="sliderImg">
  </div>
  <div class="overlay">
    <div class="content">
      <h2 class="res">Looking for an internship?</h2>
      <h1>Eas4Trainnee is your best solution</h1>
      <h3>Here you can find all preferred fields of study</h3>
      <div>
        <button type="button">DISCOVER MORE</button>
        <button type="button" class="btn-2">JOIN US</button>

      </div>
    </div>
  </div>

</div>





