
 
 <!-- <iframe src="https://my.spline.design/3dtextbluecopy-04c662e2f2b97a2d31f55e62437fe3b1/" frameborder="0" width="80%" height="80%"></iframe>-->
<!--
 <div class="container1">
    <div class="box">
    <div class="static-txt">Hello </div>
    <ul class="dynamic-txts">
        <li><span>STUDENT </span></li>
        <li><span>COMPANY</span></li>
    </ul>
    
        

</div>

<div class="box2">
    <h2>Welcome to the world of Internships</h2> 
    <h3> Here you can find all preferred fields of study  </h3>
    
    <div class="text"><h4>For more details : </h4></div>
    <div class="btnn">
        <a routerLink="discover" class="aa btn btn-lg btn-light"> Discover Offers</a> &nbsp;</div>
        <div class="btnn2">
            <a routerLink="login" class="btn btn-lg btn-primary"> Join us</a>
        </div>
    
    
    </div>

</div>-->

<!--<div class="container">
    <h1>hello</h1>
</div>-->


<div class="app">
    <div class="cardList">
      <button class="cardList__btn btn btn--left">
        <div class="icon">
          <svg>
            <use xlink:href="#arrow-left"></use>
          </svg>
        </div>
      </button>
  
      <div class="cards__wrapper">
        <div class="card current--card">
          <div class="card__image">
            <img src="https://source.unsplash.com/Z8dtTatMVMw" alt="" />
          </div>
        </div>
  
        <div class="card next--card">
          <div class="card__image">
            <img src="https://source.unsplash.com/9dmycbFE7mQ" alt="" />
          </div>
        </div>
  
        <div class="card previous--card">
          <div class="card__image">
            <img src="https://source.unsplash.com/m7K4KzL5aQ8" alt="" />
          </div>
        </div>
      </div>
  
      <button class="cardList__btn btn btn--right">
        <div class="icon">
          <svg>
            <use xlink:href="#arrow-right"></use>
          </svg>
        </div>
      </button>
    </div>
  
    <div class="infoList">
      <div class="info__wrapper">
        <div class="info current--info">
          <h1 class="text name">Highlands</h1>
          <h4 class="text location">Scotland</h4>
          <p class="text description">The mountains are calling</p>
        </div>
  
        <div class="info next--info">
          <h1 class="text name">Machu Pichu</h1>
          <h4 class="text location">Peru</h4>
          <p class="text description">Adventure is never far away</p>
        </div>
  
        <div class="info previous--info">
          <h1 class="text name">Chamonix</h1>
          <h4 class="text location">France</h4>
          <p class="text description">Let your dreams come true</p>
        </div>
      </div>
    </div>
  
  
    <div class="app__bg">
      <div class="app__bg__image current--image">
        <img src="https://source.unsplash.com/Z8dtTatMVMw" alt="" />
      </div>
      <div class="app__bg__image next--image">
        <img src="https://source.unsplash.com/9dmycbFE7mQ" alt="" />
      </div>
      <div class="app__bg__image previous--image">
        <img src="https://source.unsplash.com/m7K4KzL5aQ8" alt="" />
      </div>
    </div>
  </div>
  
  <div class="loading__wrapper">
    <div class="loader--text">Loading...</div>
    <div class="loader">
      <span></span>
    </div>
  </div>
  
  
  <svg class="icons" style="display: none;">
    <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
      <polyline points='328 112 184 256 328 400'
             style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
    </symbol>
    <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
      <polyline points='184 112 328 256 184 400'
             style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
    </symbol>
  </svg>






    








